@import "../../styles/settings.scss";

.card {
  position: relative;
  background: $color-light;
  border: 1px solid lighten($color-dark, 60%);
  padding: $base-size;
  margin: 0 0 $base-size 0;
  border-radius: $radius;
  display: flex;
  justify-content: space-between;
  font-weight: bold;

  .icon_wrapper {
    display: flex;

    .container {
      padding: $base-size * .8;
      display: flex;
      align-items: center;
      margin-left: $base-size;

      &:hover {
        cursor: pointer;

        .empty_star {
          color: $color-special;
          transition: 0.5;
        }

        .trash {
            color: $color-warning;
            transition: 0.5;
      }
      }

      .empty_star {
        font-size: $base-size * 1.2;
      }

      .full_star {
        font-size: $base-size * 1.2;
        color: $color-special;
      }


    }
  }

}